:root {
    --color-primary-700: #b17f48;

    --color-neutrals-base_white: #ffffff;
    --color-neutrals-base_black: #232323;
    --color-neutrals-100: #f0f0f0;
    --color-neutrals-900: #232323;

    --color-background-primary: #f3efed;

    --font-body: "Geist Mono", monospace;
    --font-heading1: "Cinzel", serif;
    --font-heading2: "DM Serif Display", serif;
}
